@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  color: #09090b;
}

.dark body {
  background-color: #09090b;
  color: #fafafa;
}
